  #desktop {
  display: flex;   
  flex-direction: column;
  width: 90%;
  height: 90%;
  }

  #login-content-desktop {
    display: none; 
    }
  
  .login-container { 
  position: absolute;
  width: 90vw;
  height: 90vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem;
  }
    
  #login-logo {
  width: 70%;
  margin-left: 5%;
  margin-top: 10%;
  }
  
  .padding-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 2rem;
  background: #DADADA;
  border: 3px solid #000000;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  }
    
  #enter-button {
  width: 17.3rem;
  height: 2.5rem;
  background: #DADADA;
  color: #EE8100;
  border-radius: 15px;
  border: 3px solid #EE8100;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
 
  }
  
  #enter-button:hover {
  background: #EE8100;
  color: #ffffff;
  opacity: 1.5;
  }
  
  #error-login {
  font-size: 1rem;    
  padding: 1rem;
  }
  
  #or-google {
  font-size: 0.8rem;
  margin-top: -8px;
  margin-top: -65px;
  }
  
  #login-google {
  display: flex;   
  font-size: 1rem; 
  margin-left: -30px;
  padding: 3rem;
  margin-top: -75px;
  }
    
  #image-google {
  display: flex;  
  width: 20%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 190px;
  margin-top: -65px;
  }
  
  #google-account-login {
  display: flex;   
  font-size: 1rem; 
  margin-left: -80px;
  margin-top: -18%;
  padding: 15px;
  }

  #login-register {
  display: flex; 
  color: #EE8100;
  margin-left: 130px;
  margin-top: -25%;
  font-size: 0.8rem; 
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #EE8100;
padding: 15px;  
}

  @media screen and (min-width: 760px) {
  /*and (min-width: 760px) and (max-width: 1024px)*/
#desktop {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 90%;
  height: 90%;
}

  #login-content-desktop {
  margin-left: 0;
  display: flex;   
  background-color: #EE8100;   
  width: 55%;
  height: 100%;
 flex-direction: column;
 justify-content: space-between;
 gap: 30px;
 
  }

  #background-orange {
    display: flex;
    flex-direction: column;
   margin-top: 1px;
   height: auto;
  padding: 2px;
  width: auto;
  }
  
  #welcome {
  margin-top: 70px;  
  text-align: center;
  font-size: 60px;
  color: #FFFFFF;
  padding: 30px;
  }
  
  #line {
  width: 80%;
  margin-left: 55px;
  }
  
  #quality {
  margin-top: -20px;
  font-size: 38px; 
  text-align: center;
  padding: 30px;
  }
  
  #actions {
  margin-top: 310px;
  font-size: 38px; 
  text-align: center;
  color: #FFFFFF;
  }
  
  .login-container {
  display: flex;
  width: 30%;
  margin-left: 900px;
  height: 95%;
  padding: 2px;
  } 
  /*modificações*/

  #error-login {
    font-size: 30px;    
    padding: 2px;
    }
    
    #or-google {
    font-size: 20px;
    margin-top: -8px;
    }
    
    #login-google {
    display: flex;   
    font-size: 22px; 
    margin-left: 10px;
    padding: 50px;
    }
      
    #image-google {
    display: flex;  
    width: 90px;
    margin-top: -85px;
    margin-left: 290px;
    cursor: pointer;
    }
    
    #google-account-login {
    display: flex;   
    font-size: 20px; 
    margin-left: -70px;
    margin-top: -15px;
    padding: 10px;
    }
  
    #login-register {
    display: flex; 
    font-size: 20px;
    color: #EE8100;
    margin-left: 260px;
    margin-top: -70px;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #EE8100;
    }

    .padding-inputs {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25rem;
      height: 2.5rem;
      background: #DADADA;
      border: 3px solid #000000;
      border-radius: 1rem;
      text-align: center;
      font-size: 2rem;
      }
        
      #enter-button {
      width: 25rem;
      height: 3.5rem;
      background: #DADADA;
      color: #EE8100;
      border-radius: 15px;
      border: 3px solid #EE8100;
      cursor: pointer;
      align-items: center;
      text-align: center;
      font-size: 2rem;
     
      }

      #enter-button:hover {
        background: #EE8100;
        color: #ffffff;
        opacity: 1.5;
        }
      
  }