.register-container-new {
  position: absolute;
  width: 90vw;
  height: 90vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
}

#register-logo-new {
  width: 50%;
}

#register-new {
  display: none;
  }

#register-new-form{
display: flex;
 justify-content: space-between;
 flex-direction: column;
 margin-top: 30px;
 }
 
  .registration-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 2rem;
    background: #DADADA;
    border: 3px solid #000000;
    border-radius: 0.8rem;
    text-align: center;
    font-size: 2rem;
  }

#register-new-button {
  width: 15rem;
  height: 2.5rem;
  background: #DADADA;
  color: #EE8100;
  border-radius: 13px;
  border: 3px solid #EE8100;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
opacity: 0.6;
}



#register-new-button:hover {
  background: #EE8100;
  color: #FFFFFF;
  opacity: 2.8;
  }
    #error-register {
  font-size: 1rem;    
  padding: 1rem;
    }

    #confirmation-message {
      font-size: 1rem;    
  padding: 1rem;
    }

    #google-account-register {
      display: flex;   
  font-size: 1rem; 
  margin-left: -90px;
  margin-top: -20%;
  padding: 15px;
  
    }

    #register-login-init {
      display: flex; 
      color: #EE8100;
      margin-left: 130px;
      margin-top: -23%;
      font-size: 1rem; 
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: #EE8100;
      padding: 3px;
    }

  footer {
  display: flex;
  font-size: 12px;
  align-items: center;
  }
  
  @media screen and (min-width: 1024px) {
  
    .register-container-new {
      position: absolute;
      width: 90vh;
      height: 90vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      text-align: center;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      }

 
  
  #register-logo-new{
    height: 30%;
     
  }
   
    #register-new { 
     display: flex; 
    font-size: 45px;
    color: #FFFFFF;
    justify-content: center;
     padding: 6px;
      width: 450px;
      height: 50px;
      border-radius: 15px;
      background-color: #EE8100; 
      }
    
      #register-new-form{
display: flex;
justify-content: space-between;
flex-direction: column;
margin-top: 40px;
      }

  .registration-description {
    display: flex;
    font-size: 25px;
    }
    
    input {
    font-size: 25px;
    }
    
    .registration-content {
    display: flex;
    width: 450px;
    height: 50px;
    background: #DADADA;
    border: 3px solid #000000;
    border-radius: 15px;
    }
    
    #register-new-button {
    margin: 2rem;
    width: 25rem;
    height: 3.5rem;
    background: #DADADA;
    color: #EE8100;
    border: 3px solid #EE8100;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    font-size: 2rem;
    margin-left: 15px;
    padding: 10px;
    opacity: 0.6;
     
    }
    
    #register-new-button:hover {
    background: #EE8100;
    color: #FFFFFF;
    opacity: 2.8;
    }
    
    #error-register {
    font-size: 30px;
    }

    #google-account-register {
    display: flex;   
    font-size: 22px; 
    margin-left: -70px;
    margin-top: -15px;
    padding: 10px;
    }
    
    #confirmation-message{
    font-size: 25px;    
    }
    
    #account-register {
    display: flex;
    font-size: 25px;
    margin-left: -95px;
    }
    
    #register-login-init {
    display: flex;
    color: #EE8100;
    margin-left: 240px;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #EE8100;
    margin-top: -50px;
    font-size: 20px;
    }
      
    footer {
    display: flex;
    font-size: 12px;
    
    }
    
  }