#orange-register-new, #register-new {
  display: none;
  }
  
  .register-container-new {
  position: absolute;
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  #register-logo {
  width: 50%;
  margin-left: 10px;
  margin-top: 10px;
  }
  
  .registration-description {
  display: flex;
  font-size: 25px;
  }
  
  input {
  font-size: 25px;
  }
  
  .registration-content {
  display: flex;
  width: 450px;
  height: 50px;
  background: #DADADA;
  border: 3px solid #000000;
  border-radius: 15px;
  }
  
  #register-button {
  width: 200px;
  height: 55px;
  background: #DADADA;
  color: #EE8100;
  border: 3px solid #EE8100;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  align-items: center;
  font-size: 25px;
  margin-left: 15px;
  padding: 10px;
  opacity: 0.6;
  }
  
  #register-button:hover {
  background: #EE8100;
  color: #FFFFFF;
  opacity: 2.8;
  }
  
  #error-register {
  font-size: 30px;
  }
  
  #confirmation-message{
  font-size: 25px;    
  }
  
  #account-register {
  display: flex;
  font-size: 25px;
  margin-left: -95px;
  }
  
  #register-login-init {
  display: flex;
  color: #EE8100;
  margin-left: 220px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #EE8100;
  margin-top: -35px;
  font-size: 20px;
  }
   
  footer {
  display: flex;
  font-size: 12px;
  }
  
  @media screen and (min-width: 1024px) {
  
  #register-logo{
  display: flex;  
  width: 25%;
  margin-left: 1100px;
  margin-top: 10px;    
  }
  
  #orange-register-new {
  position: absolute;
  width: 500px;
  height: 65px;
  margin-left: 150px;
  margin-bottom: 780px;
  border-radius: 15px;
  background-color: #EE8100;
  }
  
  #register-new {
   display: flex;
  font-size: 45px;
  color: #FFFFFF;
  justify-content: center;
  }
  }