#publication {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: -10px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 90%;
  height: 80%;
  }
  
  #content-pub {
  display: block;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  }
    
  #bumerangue-gif-publish {
  display: flex;
  width: 8rem;
  height: 8rem;
  margin-top: 10px;
  margin-left: 220px;
  padding-top: 0px;
  }
    
  #publication-text-publish {
  display: flex;
  width: 20rem;
  height: 14rem;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 20px;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  }
    
  #buttons-publication {
  display: flex;
  cursor: pointer; 
  margin-top: 10px;
  gap: 90px;
  }
    
  #cancel-button {
  display: flex;
  cursor: pointer;
  background: #DADADA;
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  }
    
  #publication-button-publish {
  display: flex;
  cursor: pointer;
  background: #EE8100;
  border-radius: 10px;
  border-color:#EE8100;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  color: #FFFFFF;
  }
    
  #publication-button-publish:hover {
  background: #EE8100;
  color: #FFFFFF;
  opacity: 1.5;
  }
    
  #empty-post-message {
  font-size: 30px;
  }
    
  #reactions-title {
  display: flex;
  font-size: 30px;
  margin-top: 20%;
  align-items: center;
  justify-content: center;
  margin-bottom: -30px;
  }
    
  #reactions {
  display: flex;
  border-radius: 40px;
  width: 20rem;
  height: 20rem;
  margin-top: 10%;
  }
  
  @media screen and (min-width: 760px) {
  
  #bumerangue-gif-publish {
  margin-left:  420px
  }    
  
  #publication-text-publish {
  width: 35rem;
  height: 20rem;
  }    
  
  #buttons-publication {
  gap: 300px;
  }

  #publication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
 
    }

  } 