#publication {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  #content-pub {
  display: block;
  flex-direction: row;
  justify-content: flex-start;
  }
    
  #bumerangue-gif-publish {
  display: flex;
  width: 8rem;
  height: 8rem;
  margin-top: 10px;
  margin-left: 220px;
  padding-top: 0px;
  }
    
  #publication-text-publish {
  display: flex;
  width: 330px;
  height: 250px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  }
    
  #buttons-publication {
  display: flex;
  cursor: pointer; 
  margin-top: 10px;
  gap: 100px;
  }
    
  #cancel-button {
  display: flex;
  cursor: pointer;
  background: #DADADA;
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  }
    
  #publication-button-publish {
  display: flex;
  cursor: pointer;
  background: #EE8100;
  border-radius: 10px;
  border-color:#EE8100;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  color: #FFFFFF;
  }
    
  #publication-button-publish:hover {
  background: #EE8100;
  color: #FFFFFF;
  opacity: 1.5;
  }
    
  #empty-post-message {
  font-size: 30px;
  }
    
  #reactions-title {
  display: flex;
  font-size: 30px;
  margin-top: 20%;
  align-items: center;
  justify-content: center;
  margin-bottom: -30px;
  }
    
  #reactions {
  display: flex;
  border-radius: 40px;
  width: 320px;
  height: 280px;
  margin-top: 10%;
  }
  
  @media screen and (min-width: 1024px) {
  
  #bumerangue-gif-publish {
  margin-left:  420px
  }    
  
  #publication-text-publish {
  width: 530px;
  height: 350px;
  }    
  
  #buttons-publication {
  gap: 300px;
  }
  } 