* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  }
  
  .register-container-feed {   
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;   
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    }

  #menu-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;  
  position: absolute;
  width: 44vw;
  height: 100vh;  
  justify-content: space-around;
  }

  #menu-bottom {
  position: absolute;
  width: 40vw;
  height: 100vh;  
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-evenly;
  padding: 10px;
  }
  
  #button-logout {
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
  width: 120px;
  cursor: pointer;
  } 


  
  #bumerangue-gif-feed {
  display: flex;    
  width: 150px;
  height: 150px;  
  padding-top: 0px;
  }
  
  #button-publish {
  display: flex;
  width: 50%;
  margin-left: 2px;
  margin-top: 10px;
  height: 50px;  
  cursor: pointer;  
  }
  
  #feed-logo {
  display: flex;    
  width: 120px;
  height: 80px;
  }
  
  #profile {
  display: flex;    
  width: 50px;
  height: 50px;  
  }
/**{
  box-sizing: border-box;
  font-family: sans-serif;
padding: 0;
margin: 0;
}

#menu {
background: green;
}
#feed-logo {
  width: 50%;
margin-left: 10px;
margin-top: 10px;
  background: green;
}
#feed-publish {
  font-size: 25px; 
  background: green;
}
#feed-logout {
width: 200px;
height: 50px;
background: #DADADA;
color: #EE8100;
border: 3px solid #EE8100;
border-radius: 40px;
text-decoration: none;
text-align: center;
cursor: pointer;
align-items: center;       
font-size: 20px;
margin-left: 15px; 
padding: 10px;
opacity: 0.6;
}
#feed-profile {
  background: green;
  font-size: 25px;  
}
#bumerangue-gif {
  background: green;
}
#criar-publicação {
  width: 200px;
height: 50px;
background: #DADADA;
color: #EE8100;
border: 3px solid #EE8100;
border-radius: 40px;
text-decoration: none;
text-align: center;
cursor: pointer;
align-items: center;       
font-size: 20px;
margin-left: 15px; 
padding: 10px;
opacity: 0.6;
}
#outra-pubicação {
  width: 200px;
  height: 50px;
  background: #DADADA;
  color: #EE8100;
  border: 3px solid #EE8100;
  border-radius: 40px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  align-items: center;       
  font-size: 20px;
  margin-left: 15px; 
  padding: 10px;
  opacity: 0.6;
* {
box-sizing: border-box; 
}

#menu-bottom {
position: absolute;
width: 40vw;
height: 90vh;  
display: flex;
flex-direction: row;
align-items: end;
justify-content: space-evenly;
margin-left: 500px;  
}

#menu-top {
position: absolute;
width: 90vw;
height: 90vh;  
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-evenly;
text-align: center;   
}

#button-logout {
display: flex;
margin-left: 10px;
margin-top: 60px;
width: 80px;
cursor: pointer;
} 

#bumerangue-gif-feed {
display: flex;    
width: 150px;
height: 150px;  
padding-top: 0px;
}

#button-publish {
display: flex;
width: 50%;
margin-left: 2px;
margin-top: 10px;
height: 50px;  
cursor: pointer;  
}

#feed-logo {
display: flex;    
width: 120px;
height: 80px;
}

#profile {
display: flex;    
width: 50px;
height: 50px;  
}

*/