.register-container-feed {
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

#bumerangue-gif-feed {
  display: flex;
  width: 100px;
  height: 100px;
  padding-top: 0px;
  }

#time-line {
  width: 100%;
  overflow-y: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#menu-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
  
  #button-publish,
  #profile,
  #button-logout-sair {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
  }
  
  #button-publish img,
  #profile img,
  #button-logout-sair img,
  #feed-logo {
    height: 30px;
    margin-right: 10px;
  }

  #button-logout-sair img {
    width: 100px;
    height: 100px;
    font-size: 10px;
    margin-left: -30px;
  }

  .date-post {
    font-size: 14px;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .content-post {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 10px;
  }
  
  .likes-posts {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 2px;
  }
  
  .likes-posts figure {
    margin: 0;
    margin-right: 10px;
  }
  
  .edit-delete-post-feed {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    align-items: center;
  }
  
  .edit-delete-post-feed figure {
    margin: 0;
    margin-left: 10px;
  }
  
  .button-like-post,
  .button-equal-activity,
  .button-physical-benefits,
  .button-sleep-benefits,
  .button-mood-benefits,
  .button-psychological-benefits {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .button-edit,
  .button-delete {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
  }