@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");

* {
  font-family: "Bona nova";
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  background-image: linear-gradient(to bottom, #999999, #dadada, #ffffff);
  background-attachment: fixed;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
} 